
<!-- admin_dashboard.html.erb -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Redator Admin</title>
</head>
<body>

  <nav class="navbar">
    <div class="navbar-container">
      <button><a href="/admin">Home</a></button>
      <button class="btn"><a href="/admin/create_article">Criar Novo Artigo</a></button>
    </div>
  </nav>

  <section class="container">
    <% @posts.each do |post| %>
      <a href="/admin/read_article/<%= post.id %>">
        <article class="article">
          <div class="content">
            <h2><%= post.title %></h2>
            <p>Publicado em: <%= post.created_at %></p>
          </div>
        </article>
      </a>
    <% end %>
  </section>
</body>
</html>