
<!-- admin_dashboard.html.erb -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Redator Admin</title>
</head>
<body>

  <nav class="navbar">
    <div class="navbar-container">
      <button class="button"><a href="/admin/admin_dashboard"><p>Home</p></a></button>
      
      <form action="/search" method="get" class="search-container">
        <input type="text" placeholder="Search..." class="search-input">
        <button type="submit" class="search-button">
          <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path d="M10 2a8 8 0 106.32 13.9l5.39 5.39 1.41-1.41-5.39-5.39A8 8 0 0010 2zm0 2a6 6 0 11-.001 12.001A6 6 0 0110 4z"/>
          </svg>
        </button>
      </form action="/search method="get"">

      <button class="button"><a href="/admin/admin_dashboard/create_article"><p>Criar Artigo</p></a></button>
    </div>
  </nav>

  <section class="container">
    <% @posts.each do |post| %>
      <a href="/admin/admin_dashboard/read_article/<%= post.id %>" class="post-area">
        <article class="article">
          <div class="content">
            <h2><%= post.title %></h2>
            <p>Publicado em: <%= post.created_at %></p>
          </div>
        </article>
      </a>
    <% end %>
  </section>
</body>
</html>
