
<!-- admin_dashboard.html.erb -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Redator Admin</title>
</head>
<body>

  <nav class="navbar">
    <div class="container">
      <button class="btn"><a href="/create">Criar Novo Artigo</a></button>
    </div>
  </nav>

  <section class="container">
    <ul class="">
      <% @posts.each do |post| %>
        <li class="cmx">
          <a href="/read/<%= post.id %>"><%= post.title %></a>
          <p>Publicado em: <%= post.created_at %></p>
        </li>
      <% end %>
    </ul>
  </section>
</body>
</html>