<!-- get_all_articles.html.erb -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
  <title>Todos os Artigos</title>
</head>
<body " class="container is-flex-direction-column align-items: center">
  <h1>Todos os Artigos</h1>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <a href="/read/<%= post.id %>"><%= post.title %></a>
        <p>Publicado em: <%= post.created_at %></p>
      </li>
    <% end %>
  </ul>
  <button class="btn"><a href="/create">Criar Novo Artigo</a></button>
</body>
</html>
