<!-- get_all_articles.html.erb -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todos os Artigos</title>
</head>
<body>
  <h1>Todos os Artigos</h1>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <a href="/read/<%= post.id %>"><%= post.title %></a>
      </li>
    <% end %>
  </ul>
  <a href="/create">Criar Novo Artigo</a>
</body>
</html>
