<!-- home.html.erb -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Redator</title>
</head>
<body>

  <nav class="navbar">
    <div class="navbar-container">
      <button class="button"><a href="/"><p>Home</p></a></button>
      <button class="button"><p>Tags</p></button>
    </div>
  </nav>

  <section class="container ">
    <% @posts.each do |post| %>
      <a href="/read/<%= post.id %>" class="post-area">
        <article class="article">
          <div class="content">
            <h1><%= post.title %></h1>
            <p>Publicado em: <%= post.created_at %></p>
          </div>
        </article>
      </a>
    <% end %>
  </section>
</body>
</html>
