<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  <title><%= @post.title %></title>
</head>
<body>
  
  <nav class="navbar">
    <div class="container">
      <button><a href="/">Home</a></button>
    </div>
  </nav>

  <section class="container" >
    <p>
      <strong><%= @post.title %></strong>
    </p>
    <p>
      <strong>Conteúdo:</strong>
      <%= @post.content %>
    </p>
    <p>
      <strong>Publicado em:</strong>
      <%= @post.created_at %>
    </p>

  </section>
</body>
</html>