body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 204, 255);
}

a{
  text-decoration: none;
  color: inherit;
  background: none;
}

.navbar {
  margin: 60px;
}

.navbar-container {

}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 500px;
}

.article {
  background-color: white;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.336);
}

.content {
  margin: 18px;
}

.post {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px, 10px, 10px rgba(0, 0, 0, 0.336);
}

