
<!-- admin_dashboard.html.erb -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Redator Admin</title>
</head>
<body>

  <nav class="navbar">
    <div class="navbar-container">
      <h1 class="brand"><a href="/admin/admin_dashboard">Redator Dev</a></h1>
      <h1 class="brand"><a href="/admin/admin_dashboard/create_article">Criar Artigo</a></h1>
      <h1 class="brand"><a href="/admin/logout">Sair</a></h1>
    </div>
  </nav>

  <section class="container">
    <% @posts.each do |post| %>
      <a href="/admin/admin_dashboard/read_article/<%= post.id %>" class="post-area">
        <article class="article">
          <div class="content">
            <h2><%= post.title %></h2>
            <p>Publicado em: <%= post.created_at %></p>
          </div>
        </article>
      </a>
    <% end %>
  </section>
</body>
</html>
